div{
  background-color: #d4f2f2;

}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
  line-height: 4;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-width:5px;
  color: grey;
  margin: 100px auto;
}
.upper-cloud{
  position:absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom:  300px;
}
.top-container{
  background-color: #E4F9F5;
}
.middle-container{
 margin: 100px,0px,100px,0px;

}
.bottom-container{
  background-color: #66BFBF;
  padding:50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.upper-cloud{
  position: relative;
  left: 200px;
  padding-top: 20px;
}
.bottom-cloud{
  position: absolute;
}
.science{
  background-color: #CDF0EA;
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 30px;
}
.web{
  background-color: #CDF0EA;
  height: 300px;
  width: 300px;
  float: right;
  margin-left: 30px;
}
.me{
  background-color: #CDF0EA;
  height: 300px;
  width: 210px;
  margin-top: 40px;
}
.skill-row{
  width: 50%;
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
p{
 font-size: 90%;
 line-height: 2;
}
.contact-me{
  width: 40%;
 margin: 40px auto 60px;
}
a{
  color: #3C2317;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}
a:hover {
  colour: #EAF6F6;
}

.intro{
  width:50%;
  text-align: center;
  margin: auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
 padding: 20px 0;
}
